# exclude local uploads
public/images/uploads/*

# also their thumbnails
public/images/thumbs/*

# but not the static ones
!public/images/thumbs/static/*

# exclude data
data/*

# except gitkeep to actually commit the folder
!data/.gitkeep 