# ignore local uploads
public/images/uploads/*

# preserve uploads directory
!public/images/uploads
!public/images/uploads/.gitkeep

# ignore uploads' thumbnails
public/images/thumbs/*

# preserve static ones
!public/images/thumbs/static
!public/images/thumbs/static/*

# preserve icons
!public/images/icons
!public/images/icons/*

###For ignoring CI test-files###
tests/*
#####################

# ignore docs
*.md
