# exclude local uploads
public/images/uploads/*

# also their thumbnails
public/images/thumbs/*

# exclude data
data/*

# but not the static ones
!public/images/thumbs/static/*

# also preserve uploads directory
!public/images/uploads/.gitkeep

# except gitkeep to actually commit the folder
!data/.gitkeep