doctype html
html(lang="en")

	block variables
		- var activePage = 'dashboard'
		- var activeGroup = 'none'

	head
		meta(name="description", content="studyDump Admin Console. This utility is made for ease of management of studyDump")

		block title
			title Management Console - studyDump Admin

		include ../includes/_head.pug

	body.app.sidebar-mini.rtl

		// Navbar
		include ../includes/_header.pug

		// Sidebar menu
		include ../includes/_sidebar.pug

		main.app-content
			block content

		include ../includes/_javascript.pug
		
		// Page specific javascripts
		block specific-js

		// Google analytics script
		script(type="text/javascript").
			if(document.location.hostname == 'mitregex.com') {
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', 'UA-72504830-1', 'auto');
				ga('send', 'pageview');
			}
